@import "variables.scss";

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 28px;
  padding-left: 28px;
  font-size: 24px;

  &__title-link {
    color: $color-secondary;
  }

  &__icons {
    display: flex;
  }

  &__hamburger {
    display: none;
  }

  &__product-count {
    position: absolute;
    top: 20px;
    right: 80px;
    display: none;
    padding: 2px 2px;
    font-size: 16px;
    border: 2px solid $background-primary;
    border-radius: 50%;
  }

  &__product-count-active {
    display: block;
  }

  &__cart-link {
    position: relative;
    margin-right: 16px;
  }
}

.wrapper::after {
  position: absolute;
  top: 70px;
  right: 30px;
  left: 30px;
  content: "";
  border: 1px solid rgba(0 0 0 / 10%);
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: $font-secondary;
  font-size: 16px;

  &__item {
    padding-right: 45px;
  }

  &__item:last-child {
    padding-right: 0;
  }

  &__link {
    color: $color-third;
  }
}

.close-menu {
  display: none;
}

.close-form {
  display: none;
}

.wrapper__form {
  display: none;
}

.js-header--show-search {
  .wrapper__search {
    display: none;
  }

  .js-close-form {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 16px;
    height: 16px;
    color: #000;
  }

  .js-form {
    position: absolute;
    top: 20px;
    left: 70px;
    display: flex;
    height: 30px;
    background-color: $background-primary;
  }

  .js-input {
    padding-right: 5px;
    padding-left: 5px;
    color: $color-primary;
    background-color: rgba(255 255 255 / 15%);
    border: 3px solid $background-primary;
  }

  .js-input::placeholder {
    color: $color-primary;
  }

  .js-button {
    padding: 5px 5px 5px;
    font-family: $font-secondary;
    color: $background-primary;
    background-color: $color-primary;
    border: 3px solid $background-primary;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 20px;

    &__icons {
      display: none;
    }

    &__title-link {
      order: 1;
    }

    &__search-hamburger {
      display: flex;
      order: 2;
    }

    &__search-link {
      padding-right: 20px;
    }

    &__search-link--active {
      display: none;
    }

    &__form {
      display: none;
    }

    &__hamburger-link--active {
      display: none;
    }

    &__hamburger {
      display: inline;
    }
  }

  .wrapper::after {
    display: none;
  }

  .js-header--show-search {
    .wrapper__search {
      display: none;
    }

    .js-close-form {
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 16px;
      height: 16px;
      color: #000;
    }

    .js-form {
      position: absolute;
      top: 80px;
      left: 25px;
      display: flex;
      height: 30px;
      background-color: $color-primary;
    }

    .js-input {
      width: calc(100% - 94px);
      padding-right: 10px;
      padding-left: 10px;
      margin: 5px;
      background-color: $background-third;
      border: 2px solid $background-third;
    }

    .js-input::placeholder {
      color: $background-primary;
      opacity: 0.2;
    }

    .js-button {
      padding: 5px 10px;
      font-family: $font-secondary;
      color: $color-primary;
      background-color: $background-primary;
      border: 2px solid $color-primary;
    }
  }

  .menu {
    display: none;

    &__item {
      padding: 0;
    }
  }

  .js-header--show-menu {
    .wrapper__hamburger {
      display: none;
    }

    .js-close-menu {
      display: flex;
      justify-content: end;
      order: 1;
      width: 16px;
      height: 16px;
      color: #000;
    }

    .js-menu {
      position: absolute;
      top: 69px;
      right: 20px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      margin-top: 0;
      background-color: #fff;
      border-top: 1px solid;
    }
  }
}
