@import "variables.scss";

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 28px;
  padding-left: 28px;
  font-size: 24px;

  &__title-link {
    color: $color-secondary;
  }

  &__icons {
    display: flex;
  }

  &__hamburger {
    display: none;
  }

  &__cart-link {
    margin-right: 16px;
  }
}

.wrapper::after {
  position: absolute;
  top: 70px;
  right: 30px;
  left: 30px;
  content: "";
  border: 1px solid rgba(0 0 0 / 10%);
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: $font-secondary;
  font-size: 16px;

  &__item {
    padding-right: 45px;
  }

  &__item:last-child {
    padding-right: 0;
  }

  &__link {
    color: $color-third;
  }
}

.close-menu {
  display: none;
}

.close-form {
  display: none;
}

.wrapper__form {
  display: none;
}

.wrapper__form--active {
  display: flex;
  width: 300px;
}

.wrapper__search-link--active {
  display: none;
}

.close-form--active {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 0;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 20px;

    &__icons {
      display: none;
    }

    &__title-link {
      order: 1;
    }

    &__search-hamburger {
      display: flex;
      order: 2;
    }

    &__search-link {
      padding-right: 20px;
    }

    &__search-link--active {
      display: none;
    }

    &__form {
      display: none;
    }

    &__form--active {
      display: flex;
      width: 300px;
    }

    &__hamburger-link--active {
      display: none;
    }

    &__hamburger {
      display: inline;
    }
  }

  .wrapper::after {
    display: none;
  }

  .menu {
    display: none;

    &__item {
      padding: 0;
    }
  }

  .close-menu {
    display: none;
  }

  .close-menu--active {
    display: flex;
    justify-content: end;
    order: 1;
    width: 36px;
    height: 33px;
  }

  .menu-active {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 0;
    margin-right: 20px;
  }

  .close-form {
    display: none;
  }

  .close-form--active {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 0;
    margin-right: 20px;
  }
}
