@import "variables.scss";

.info-banner {
  &__wrapper {
    display: flex;
    flex-basis: 1440px;
    align-items: center;
    justify-items: center;
    height: 41px;
    font-family: $font-secondary;
    font-size: 14px;
    color: $color-primary;
    background-color: $background-primary;
  }

  &__inner-wrapper {
    display: flex;
    justify-self: center;
  }

  &__close-wrapper {
    display: block;
    margin-left: auto;
  }

  &__close {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 16px;
    height: 16px;
    color: #fff;
  }

  &__text {
    padding-left: 8px;
  }
}
