@import "variables.scss";

.info-banner {
  background-color: $background-primary;

  &.hidden {
    display: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    font-family: $font-secondary;
    font-size: 14px;
    color: $color-primary;
  }

  &__inner-wrapper {
    display: flex;
  }

  &__close-wrapper {
    position: absolute;
    right: 16px;
    display: block;
    margin-left: auto;
  }

  &__close-button-link {
    cursor: pointer;
  }

  &__close {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 16px;
    height: 16px;
    color: #fff;
  }

  &__text {
    padding-left: 8px;
  }
}

.close-info-banner {
  display: none;
}
