@import "variables.scss";

.product-details {
  margin-top: 20px;

  &__wrapper {
    display: flex;
  }

  &__image-inner-wrapper {
    min-width: 607px;
  }

  &__image {
    aspect-ratio: 607/662;
  }

  &__description-inner-wrapper {
    max-width: 520px;
    padding-left: 67px;
  }

  &__heading {
    font-size: 36px;
  }

  &__price-text {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    font-family: $font-secondary;
    font-size: 24px;
    border-bottom: 1px solid #ebe8f4;
  }

  &__description-text {
    padding-top: 15px;
    padding-bottom: 35px;
    font-family: $font-secondary;
  }

  &__title-table {
    font-size: 14px;
  }

  &__text-table {
    padding-top: 15px;
    font-family: $font-secondary;
  }

  &__table-wrapper {
    display: flex;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  &__table-inner-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
  }

  &__table-inner-wrapper::after {
    position: absolute;
    top: 25px;
    right: 50px;
    left: 50px;
    width: 35px;
    content: "";
    border: 1px solid #ebe8f4;
    transform: rotate(90deg);
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    width: 122px;
    height: 46px;
    padding-left: 55px;
    margin-top: 10px;
    border: none;
  }

  &__plus {
    position: absolute;
    top: 22px;
    left: 95px;
    width: 25px;
    height: 22px;
    color: #ebe8f4;
    background-color: $color-primary;
  }

  &__minus {
    position: absolute;
    top: 22px;
    left: 5px;
    width: 25px;
    height: 22px;
    color: #ebe8f4;
    background-color: $color-primary;
  }

  &__button-wrapper {
    display: flex;
    margin-top: 50px;
  }

  &__button {
    width: 143px;
    height: 56px;
    margin-right: 16px;
    font-family: $font-secondary;
    color: $color-primary;
    background-color: $background-primary;
  }

  &__button:hover {
    color: $background-primary;
    background-color: $color-primary;
  }

  &__button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 56px;
    font-family: $font-secondary;
    color: $background-primary;
    background-color: $color-primary;
    opacity: 1;
  }

  &__button-link:hover {
    color: $color-fourth;
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }

  &__modal-content {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: $background-third;
    border: 1px solid #888;
    transform: translateY(-50%);
  }

  &__modal-text {
    text-align: center;
  }

  &__modal-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__modal-button-link {
    width: 120px;
    height: 50px;
    margin-right: 16px;
    font-family: $font-secondary;
    color: $color-primary;
    background-color: $background-primary;
  }

  &__modal-button {
    width: 155px;
    height: 50px;
    font-family: $font-secondary;
    color: $background-primary;
    background-color: $color-primary;
  }
}

.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

.js-modal-active {
  z-index: 4;
}

.js-modal-active-animation {
  animation: modalFadeIn 0.5s ease forwards;
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
