mixin brandAbout(cssClassWrapper, src, alt, flag)
  section.brand-about.container
    div(class=cssClassWrapper)
      .container__white-wrapper.container__white-wrapper--brand-about
        .brand-about__left-content
          .brand-about__top-wrapper
            if (flag)
              h2.brand-about__heading From a studio in London to a global brand with over 400 outlets
              p.brand-about__text-primary When we started Avion, the idea was simple. Make high quality furniture affordable and available for the mass market. 
              p.brand-about__text-secondary Handmade, and lovingly crafted furniture and homeware is what we live, breathe and design so our Chelsea boutique become the hotbed for the London interior design community.
              a.brand-about__button-link(href='#') Get in touch
            else 
              h2.brand-about__product-heading Join the club and get the benefits
              p.brand-about__product-text Sign up for our newsletter and receive exclusive offers on new ranges, sales, pop up stores and more
              form.brand-about__product-form(action='')
                input.brand-about__product-input(type='email', placeholder='your@email.com', required)
                button.brand-about__product-button(type='submit') Sign up
      .brand-about__image-wrapper 
        img.brand-about__image(src=src, alt=alt)
