section.brand.container 
        .container__white-wrapper--brand
          .brand__block
           .brand__left-content 
             h1.brand__heading  The furniture brand for the future, with timeless designs
             .brand__bottom-wrapper
              a.brand__button-link(href="markup/pages/catalog.html") View collection
              p.brand__text A new era in eco friendly furniture with Avelon, the French luxury retail brand
               | with nice fonts, tasteful colors and a beautiful way to display things digitally 
               | using modern web technologies.
           .brand__image-wrapper
            img.brand__image(src='./images/content-image/image-first.png', alt='image-first')