section.brand-about.container 
       .brand-about__wrapper 
        .container__white-wrapper.container__white-wrapper--brand-about
         .brand-about__left-content
          .brand-about__top-wrapper 
             h2.brand-about__heading From a studio in London to a global brand with over 400 outlets
             p.brand-about__text-primary When we started Avion, the idea was simple. Make high quality furniture affordable and available for the mass market. 
             p.brand-about__text-secondary Handmade, and lovingly crafted furniture and homeware is what we live, breathe and design so our Chelsea boutique become the hotbed for the London interior design community.
             a.brand-about__button-link(href="#") Get in touch
        .brand-about__image-wrapper 
           img.brand-about__image(src='./images/content-image/image-seventh.png', alt='image-seventh')