section.ceramics.container
        .container__white-wrapper
         h2.ceramics__heading New ceramics
         ul.ceramics__list
          li.ceramics__item
           a.ceramics__link(href='#')
            img.ceramics__image(src='./images/content-image/image-first.png', alt='image-first')
            h3.ceramics__title The Dandy chair
            p.ceramics__text £250
          li.ceramics__item
           a.ceramics__link(href='#')
            img.ceramics__image(src='./images/content-image/image-second.png', alt='image-second')
            h3.ceramics__title Rustic Vase Set
            p.ceramics__text £155
          li.ceramics__item
           a.ceramics__link(href='#')
            img.ceramics__image(src='./images/content-image/image-third.png', alt='image-third')
            h3.ceramics__title The Silky Vase
            p.ceramics__text £125
          li.ceramics__item
           a.ceramics__link(href='#')
            img.ceramics__image(src='./images/content-image/image-fourth.png', alt='image-fourth')
            h3.ceramics__title The Lucy Lamp
            p.ceramics__text £399
         .ceramics__button-link-wrapper
           a.ceramics__button-link(href='#') View collection