aside.filters
  .filters__wrapper
    h2.visially-hidden Filters
    .filters__button-wrapper
      button.filters__button-first Filters
      button.filters__button-second Sorting
    h3.filters__title Product type
    ul.filters__list 
      li.filters__item
        input.filters__checkbox#checkbox-furniture(type='checkbox', name='product-type', value='furniture')
        label.filters__label(for='checkbox-furniture') Furniture
      li.filters__item
        input.filters__checkbox#checkbox-homeware-one(type='checkbox', name='product-type', value='homeware-one')
        label.filters__label(for='checkbox-homeware-one') Homeware 
      li.filters__item
        input.filters__checkbox#checkbox-sofas(type='checkbox', name='product-type', value='sofas')
        label.filters__label(for='checkbox-sofas') Sofas
      li.filters__item
        input.filters__checkbox#checkbox-homeware-two(type='checkbox', name='product-type', value='homeware-two')
        label.filters__label(for='checkbox-homeware-two') Homeware
      li.filters__item
        input.filters__checkbox#checkbox-light-fittngs(type='checkbox', name='product-type', value='light-fittings')
        label.filters__label(for='checkbox-light-fittngs') Light fittings
      li.filters__item
        input.filters__checkbox#checkbox-accessories(type='checkbox', name='product-type', value='accessories')
        label.filters__label(for='checkbox-accessories') Accessories
    h3.filters__title Price
    ul.filters__list 
      li.filters__item
        input.filters__checkbox#checkbox-price-one(type='checkbox', name='price', value='price-one')
        label.filters__label(for='checkbox-price-one') 0 - 100
      li.filters__item
        input.filters__checkbox#checkbox-price-two(type='checkbox', name='price', value='price-two')
        label.filters__label(for='checkbox-price-two') 101 - 250
      li.filters__item
        input.filters__checkbox#checkbox-price-third(type='checkbox', name='price', value='price-third')
        label.filters__label(for='checkbox-price-third') 250 +
    h3.filters__title Designer
    ul.filters__list 
      li.filters__item
        input.filters__checkbox#checkbox-designer-one(type='checkbox', name='designer', value='designer-one') 
        label.filters__label(for='checkbox-designer-one') Robert Smith
      li.filters__item
        input.filters__checkbox#checkbox-designer-two(type='checkbox', name='designer', value='designer-two')
        label.filters__label(for='checkbox-designer-two') Liam Gallagher
      li.filters__item
        input.filters__checkbox#checkbox-designer-third(type='checkbox', name='designer', value='designer-third')
        label.filters__label(for='checkbox-designer-third') Biggie Smalls
      li.filters__item
        input.filters__checkbox#checkbox-designer-fourth(type='checkbox', name='designer', value='designer-fourth')
        label.filters__label(for='checkbox-designer-fourth') Thom Yorke
