section.products-catalog#catalog
  h2.visially-hidden Products catalog
  ul.products-catalog__list
    li.products-catalog__item 
      a.products-catalog__link(href='#')
        img.products-catalog__image(src='../../images/content-image/image-first.png', alt='image-first')
        h3.products-catalog__title The Dandy chair
        p.products-catalog__text £250 
    li.products-catalog__item 
      a.products-catalog__link(href='#')
        img.products-catalog__image(src='../../images/content-image/image-second.png', alt='image-second')
        h3.products-catalog__title Rustic Vase Set
        p.products-catalog__text £155
    li.products-catalog__item 
      a.products-catalog__link(href='#')
        img.products-catalog__image(src='../../images/content-image/image-nine.png', alt='image-nine')
        h3.products-catalog__title The Yellow chair
        p.products-catalog__text £250
    li.products-catalog__item 
      a.products-catalog__link(href='#')
        img.products-catalog__image(src='../../images/content-image/image-third.png', alt='image-third')
        h3.products-catalog__title The Silky Vase
        p.products-catalog__text £125
    li.products-catalog__item 
      a.products-catalog__link(href='#')
        img.products-catalog__image(src='../../images/content-image/image-fourth.png', alt='image-fourth')
        h3.products-catalog__title The Lucy Lamp
        p.products-catalog__text £399
    li.products-catalog__item 
      a.products-catalog__link(href='#')
        img.products-catalog__image(src='../../images/content-image/image-sixth.png', alt='image-sixth')
        h3.products-catalog__title The Dandy chair
        p.products-catalog__text £250
    li.products-catalog__item 
      a.products-catalog__link(href='#')
        img.products-catalog__image(src='../../images/content-image/image-ten.png', alt='image-ten')
        h3.products-catalog__title The Multiple Lamps
        p.products-catalog__text £250 
    li.products-catalog__item 
      a.products-catalog__link(href='#')
        img.products-catalog__image(src='../../images/content-image/image-eleven.png', alt='image-eleven')
        h3.products-catalog__title The Small Vase
        p.products-catalog__text £250
    li.products-catalog__item 
      a.products-catalog__link(href='#')
        img.products-catalog__image(src='../../images/content-image/image-twelve.png', alt='image-twelve')
        h3.products-catalog__title The Multiple chairs
        p.products-catalog__text £250
  .products-catalog__button-link-wrapper
    a.products-catalog__button-link(href='#') Load more
