section.products-catalog-filters.container
  .container__white-wrapper
    .wrapper__top
      .filters__wrapper 
        h4.filters__title Product type
        ul.filters__list 
          li.filters__item
            input(type='checkbox')
            label(for="text") Furniture
          li.filters__item
            input(type='checkbox')
            label(for="text") Homeware 
          li.filters__item
            input(type='checkbox')
            label(for="text") Sofas
          li.filters__item
            input(type='checkbox')
            label(for="text") Homeware
          li.filters__item
            input(type='checkbox')
            label(for="text") Light fittings
          li.filters__item
            input(type='checkbox')
            label(for="text") Accessories
        h4.filters__title Price
        ul.filters__list 
          li.filters__item
            input(type='checkbox')
            label(for="text") 0 - 100
          li.filters__item
            input(type='checkbox')
            label(for="text") 101 - 250
          li.filters__item
            input(type='checkbox')
            label(for="text") 250 +
        h4.filters__title Designer
        ul.filters__list 
          li.filters__item
            input(type='checkbox') 
            label(for="text") Robert Smith
          li.filters__item
            input(type='checkbox')
            label(for="text") Liam Gallagher
          li.filters__item
            input(type='checkbox')
            label(for="text") Biggie Smalls
          li.filters__item
            input(type='checkbox')
            label(for="text") Thom Yorke
  ul.products-catalog-filters__list
    li.products-catalog-filters__item 
      a.products-catalog-filters__link(href='#')
        img.products-catalog-filters__image(src='../../images/content-image/image-first.png')
        h3.products-catalog-filters__title The Dandy chair
        p.products-catalog-filters__text £250 
    li.products-catalog-filters__item 
      a.products-catalog-filters__link(href='#')
        img.products-catalog-filters__image(src='../../images/content-image/image-second.png')
        h3.products-catalog-filters__title Rustic Vase Set
        p.products-catalog-filters__text £155
    li.products-catalog-filters__item 
        a.products-catalog-filters__link(href='#')
        img.products-catalog-filters__image(src='../../images/content-image/image-nine.png')
        h3.products-catalog-filters__title The Yellow chair
        p.products-catalog-filters__text £250
    li.products-catalog-filters__item 
      a.products-catalog-filters__link(href='#')
        img.products-catalog-filters__image(src='../../images/content-image/image-third.png')
        h3.products-catalog-filters__title The Silky Vase
        p.products-catalog-filters__text £125
    li.products-catalog-filters__item 
      a.products-catalog-filters__link(href='#')
      img.products-catalog-filters__image(src='../../images/content-image/image-fourth.png')
      h3.products-catalog-filters__title The Lucy Lamp
      p.products-catalog-filters__text £399
    li.products-catalog-filters__item 
      a.products-catalog-filters__link(href='#')
      img.products-catalog-filters__image(src='../../images/content-image/image-sixth.png')
      h3.products-catalog-filters__title The Dandy chair
      p.products-catalog-filters__text £250
    li.products-catalog-filters__item 
      a.products-catalog-filters__link(href='#')
        img.products-catalog-filters__image(src='../../images/content-image/image-ten.png')
        h3.products-catalog-filters__title The Multiple Lamps
        p.products-catalog-filters__text £250 
    li.products-catalog-filters__item 
      a.products-catalog-filters__link(href='#')
        img.products-catalog-filters__image(src='../../images/content-image/image-eleven.png')
        h3.products-catalog-filters__title The Small Vase
        p.products-catalog-filters__text £250
    li.products-catalog-filters__item 
      a.products-catalog-filters__link(href='#')
        img.products-catalog-filters__image(src='../../images/content-image/image-twelve.png')
        h3.products-catalog-filters__title The Multiple chairs
        p.products-catalog-filters__text £250
.products-catalog-filters__button-link-wrapper
      a.products-catalog-filters__button-link(href='#') Load more