section.product-details
  .product-details__wrapper 
    .product-details__image-inner-wrapper 
      img.product-details__image(src='../../images/content-image/image-fourteen.png', alt='image-fourteen')
    .product-details__description-inner-wrapper
      h1.visially-hidden Product
      h2.product-details__heading The Dandy Chair
      p.product-details__primary-text £250
      h3.product-details__title Product description
      p.product-details__secondary-text A timeless design, with premium materials features as one of our most popular and iconic pieces. The dandy chair is perfect for any stylish living space with beech legs and lambskin leather upholstery.
      h3.product-details__title Dimensions
