section.product-details.js-product-details
  .product-details__wrapper.container__grey-wrapper 
    .product-details__image-inner-wrapper
      img.product-details__image(src='../../images/content-image/image-fourteen.png', alt='image-fourteen')
    .product-details__description-inner-wrapper
      h1.product-details__heading The Dandy Chair
      p.product-details__price-text £250
      h2.product-details__title Product description
      p.product-details__description-text A timeless design, with premium materials features as one of our most popular and iconic pieces. The dandy chair is perfect for any stylish living space with beech legs and lambskin leather upholstery.
      h2.product-details__title Dimensions
      .product-details__table-wrapper
        dl.product-details__table-inner-wrapper
          dt.product-details__title-table Height
          dd.product-details__text-table 110cm
        dl.product-details__table-inner-wrapper
          dt.product-details__title-table Width 
          dd.product-details__text-table 75cm
        dl.product-details__table-inner-wrapper
          dt.product-details__title-table Depth
          dd.product-details__text-table 50cm
      form(action='', method='GET') 
        label.product-details__title-text(for='product-quantity') Quantitity
        .product-details__input-wrapper
          button.product-details__minus(type='button') -
          input.product-details__input#product-quantity(type='number', name='product-quantity', value='1') 
          button.product-details__plus(type='button') +
        .product-details__button-wrapper
          button.product-details__button(type='submit') Add to cart
          .product-details__button-link-wrapper
            a.product-details__button-link(href='#') Save to favorites
