section.product-subscription.container
  .product-subscription__wrapper
    .product-subscription__image-wrapper 
      img.product-subscription__image(src='../../images/content-image/image-fiftteen.png', alt='image-fiftteen')
    .container__white-wrapper--product-subscription
      .product-subscription__right-wrapper 
        h2.product-subscription__heading Join the club and get the benefits
        p.product-subscription__text Sign up for our newsletter and receive exclusive offers on new ranges, sales, pop up stores and more
        form.product-subscription__form(action='')
          input.product-subscription__input(type='email', placeholder='your@email.com', required)
          button.product-subscription__button(type='submit') Sign up
