section.subscription.container
  .container__white-wrapper--color
    .container__white-wrapper
      .subscription__inner-wrapper
        h2.subscription__heading Join the club and get the benefits
        p.subscription__text Sign up for our newsletter and receive exclusive offers on new ranges, sales, pop up stores and more
      form.subscription__form.js-subscription-form(action='')
        input.subscription__input(type='email', placeholder='your@email.com', required)
        button.subscription__button.js-subscription-button#button(type='submit') Sign up
