block variables

doctype html 
html 
  head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Webpack
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.cdnfonts.com/css/clash-display', rel='stylesheet')
    link(href='https://fonts.cdnfonts.com/css/satoshi', rel='stylesheet')
    link(rel='stylesheet', href='/index.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body.body
    include modules/info-banner.pug
    include modules/header.pug
    main.main-primary
      block content 
    include modules/footer.pug
    .product-details__modal
      .product-details__modal-content 
        p.product-details__modal-text All products added to cart
        .product-details__modal-wrapper
          a.product-details-modal-link(href='#')
            button.product-details__modal-button-link Go to cart
          button.product-details__modal-button Stay on this page
  script(src='/index.js')
