extends markup/layout.pug

block content 
  include markup/modules/brand.pug 
  include markup/modules/advantages.pug 
  include markup/modules/ceramics.pug
  include markup/modules/products.pug
  +products()
  include markup/modules/subscription.pug 
  include markup/modules/brand-about.pug 
  include markup/modules/vue.pug
