extends markup/layout.pug

block content 
  include markup/modules/brand.pug 
  include markup/modules/advantages.pug
  +advantages('advantages__item', false)
  include markup/modules/ceramics.pug
  include markup/modules/products.pug
  +products()
  include markup/modules/subscription.pug 
  include markup/modules/brand-about.pug
