@import  'scss-reset/_reset.scss';


$font-first: "Clash Display";
$font-second: "Satoshi";
$background-first: #2A254B;
$color-first: #FFFF;
$background-second: rgba(249, 249, 249, 0.15);
$color-second: #22202E;
$color-third: #726E8D;
$color-fourth: #800080;

 body {
      font-family: $font-first;
}
.container {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
}

.link {
      text-decoration: none;
}

.link:hover {
      color: $color-fourth;
}

.wrapper {
      font-family: $font-first;
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      

      &__title-link {
        color: $color-second;
      }

      &__icons {
        display: flex;
      }

      &__cart-link {
        padding-right: 16px;
      }
}  

  
.menu {
      font-family: $font-second;
      font-size: 16px;
      display: flex;
      justify-content: center;
}
  
.menu__link {
      color: $color-third;
      padding-right: 45px;
}

.menu__link:last-child {
      padding-right: 0;
}

.container__white-wrapper {
      padding: 40px 60px;
}

.brand__block {
     background-color: $background-first; 
     max-width: 1280px;
     min-height: 584px;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     justify-content: space-between;

}

.brand__left-content {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding-left: 60px;
     width: 59.375%;
     color: $color-first; 
}

.brand__heading {
     font-family: $font-first;
     font-size: 32px;
}

.brand__button {
     background-color: $background-second;
     color: $color-first;
     font-family: $font-second;
     font-size: 16px;
     width: 170px;
     height: 56px;
     margin-bottom: 200px;
}

.brand__text {
     font-family: $font-second;
     font-size: 18px;

}

.brand__image-wrapper {
     width: 520px;
}

.brand__image {
     object-fit: cover;
}

