@import '../node_modules/scss-reset/reset';


$font-primary: "Clash Display";
$font-secondary: "Satoshi";
$background-primary: #2A254B;
$color-primary: #FFFF;
$background-secondary: rgba(249, 249, 249, 0.15);
$background-third: #F9F9F9;
$color-secondary: #22202E;
$color-third: #726E8D;
$color-fourth: #800080;

 body {
        font-family: $font-primary;
        color: $background-primary;
}
.container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;

        &__white-wrapper {
        padding: 60px 80px;
        background-color: $color-primary;
        }

        &__white-wrapper--color {
        padding: 60px 80px;
        background-color: $background-third;
        }

        &__white-wrapper--brand {
        padding: 60px 80px;
        background-color: $color-primary;
        }
}

a {
        text-decoration: none;
}

a:hover {
        color: $color-fourth;
}

.link-icons {
        color: $background-primary;
}

.wrapper {
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-left: 28px;
        padding-right: 28px;
        position: relative;

        &__title-link {
        color: $color-secondary;
        }

        &__icons {
        display: flex;
        }

        &__hamburger {
        display: none;
        }

        &__cart-link {
        margin-right: 16px;
        }
}  

.wrapper::after {
        content: "";
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.1);
        top: 70px;
        left: 30px;
        right: 30px;
}
  
.menu {
        font-family: $font-secondary;
        font-size: 16px;
        display: flex;
        justify-content: center;
        margin-top: 40px;

  
        &__item {
          padding-right: 45px;
        }

        &__item:last-child {
          padding-right: 0;
        }

        &__link {
          color: $color-third;
        }
}

@media  screen and (max-width: 767px) {
        
.wrapper {
        
        &__icons {
          display: none;
        }

        &__title-link {
          order: 1;
        }

        &__search-hamburger {
          order: 2;
        }

        &__search-link {
          padding-right: 20px;
        }

        &__hamburger {
          display: inline;
        }
 }

.wrapper::after {
          display: none;
}

.menu {
          display: none;
}

}


.brand {
      
        &__block {
          background-color: $background-primary; 
          min-height: 584px;
          display: flex;
          justify-content: space-between;

        }

        &__left-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 60px;
          width: 59.375%;
          color: $color-primary; 
        }

        &__heading {
            font-size: 32px;
        }

        &__button-link {
          background-color: $background-secondary;
          color: $color-primary;
          font-family: $font-secondary;
          font-size: 16px;
          width: 170px;
          min-height: 56px;
          margin-top: 40px;
          margin-bottom: auto;
          padding: 16px 32px;
          opacity: 0.2
        } 

        &__button-link:hover {
          opacity: 1;
          color: $color-primary;
        }

        &__text {
          font-family: $font-secondary;
          font-size: 18px;

        }   

        &__image-wrapper {
          width: 40%;
        }

        &__image {
          object-fit: cover;
          display: block;
          height: 100%;
        }

}

@media  screen and (max-width: 767px) { 

.container__white-wrapper--brand {
         padding: 0;    
}

.brand__left-content {
          width: 100%;
}

.brand__bottom-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

}


.brand__text {
          order: 2;
}

.brand__button-link {
          order: 3;
          margin-top: 30px;
          width: 100%;
          text-align: center;
}


.brand__image-wrapper {
          display: none;
}

}


.advantages {
      
        &__list {
           display: flex;
           justify-content: space-between;
           margin-top: 50px;
        }

        &__item {
           width: 270px;
        }

        &__heading {
          font-size: 24px;
          text-align: center;
        }

        &__title {
          font-size: 20px;
          padding-top: 16px;
        } 

        &__text {
          font-family: $font-secondary;
          padding-top: 8px;
        }


}

@media  screen and (max-width: 767px) { 

.advantages__heading {
          text-align: start;
}

.advantages__list {
          display: block;
}

.advantages__item {
         padding-bottom: 35px;
}

.advantages__item:last-child {
         padding-bottom: 0;
}

}

.ceramics {
      
        &__list {
          display: flex;
          margin-top: 35px;
        }

        &__item {
          padding-left: 20px;
        }

        &__item:first-child {
          padding-left: 0;
        }

        &__link {
          color: $background-primary;
        }
      
        &__heading {
          font-size: 32px; 
        }

        &__image {
          width: 305px;
          height: 375px;
          object-fit: cover;
        }

        &__title {
          font-size: 20px;
          padding-top: 24px;
        }

        &__text {
          font-family: $font-secondary;
          font-size: 18px;
          padding-top: 8px;
        }
        
        &__button-link-wrapper {
           display: flex;
           text-align: center;
           justify-content: center;
           align-items: center;
        }

      
        &__button-link {
          background-color: $background-third;
          color: $background-primary;
          font-family: $font-secondary;
          margin-left: auto;
          margin-right: auto;
          margin-top: 35px;
          padding: 16px 32px;
        }

    
}

@media  screen and (max-width: 767px) { 

.ceramics__list {
  flex-wrap: wrap;

}

}

.products {
      
        &__list {
          display: flex;
          margin-top: 35px;
        }

        &__item {
          padding-left: 20px;
        }

        &__item:first-child {
          padding-left: 0;
        }

        &__link {
          color: $background-primary;
        }
     
        &__heading {
          font-size: 32px; 
        }

        &__image--wide {
          width: 630px;
        }

        &__image {
          width: 305px;
          height: 375px;
          object-fit: cover;
        }

        &__title {
          font-size: 20px;
          padding-top: 24px;
        }

        &__text {
          font-family: $font-secondary;
          font-size: 18px;
          padding-top: 8px;
        }

        &__button-link-wrapper {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          padding-bottom: 60px;
        }

        &__button-link {
          background-color: $background-third;
          color: $background-primary;
          font-family: $font-secondary;
          margin-left: auto;
          margin-right: auto;
          margin-top: 35px;
          padding: 16px 32px;
        }

}

.subscription {
         
        &__inner-wrapper {
          display: flex;
          flex-direction: column;
          text-align: center;
        }

        &__heading {
          font-size: 36px;
        }

        &__text {
          width: 470px;
          margin-left: auto;
          margin-right: auto;
          font-family: $font-secondary;
          padding-top: 16px;
        }

        &__form {
          text-align: center;
          margin-top: 70px;
        }

        &__input {
          width: 354px;
          height: 56px;
          background-color: $background-third;
          border: 2px solid $background-third;
          padding-left: 30px;
          padding-right: 30px;
        }

        &__input::placeholder {
          color: $background-primary;
          opacity: .2;
        }

        &__button {
          height: 56px;
          padding: 16px 32px;
          background-color: $background-primary;
          color: $color-primary;
          font-family: $font-secondary;
          border: $background-primary;
        }
}

.brand-about {

        &__wrapper {
          display: flex;
          min-height: 603px;
        }

        &__left-content {
          width: 50%;
        }

        &__heading {
          font-size: 24px;
        }

        &__text-primary {
          font-family: $font-secondary;
          color: #505977;
          padding-top: 25px;
        }

        &__text-secondary {
          font-family: $font-secondary;
          color: #505977;
          padding-top: 25px;
          margin-bottom: 50px;
        }
         
        &__top-wrapper{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          height: 100%;
          padding: 75px;
        }

        &__button-link {
          height: 56px;
          background-color: $background-third;
          margin-top: auto;
          padding: 16px 32px;
          color: $background-primary;
        }

        &__image-wrapper {
          width: 50%;
        }

        &__image {
          height: 100%;
          object-fit: cover;
        }
}

.footer {

        background-color: $background-primary;

        &__top-wrapper {
          display: flex;
          justify-content: space-between;
          color: $color-primary;
          position: relative;
          padding-top: 60px;
          padding-left: 80px;
          padding-right: 80px;
          padding-bottom: 50px;
        }

        &__top-wrapper::after {
          content: "";
          position: absolute;
          border: 1px solid #4E4D93;
          bottom: 0;
          left: 30px;
          right: 30px;
        }

        &__top-inner-wrapper-left {
          width: 50%;
          display: flex;
        }

        &__top-inner-wrapper-right {
          width: 50%;

        }

        &__list-wrapper {
          width: 30%;
        }

        &__list {
          padding-top: 10px;
        }

        &__form {
          display: flex;
          padding-top: 15px;
        }

        &__buttom-wrapper {
          display: flex;
          justify-content: space-between;
          color: $color-primary;
          padding-left: 80px;
          padding-right: 80px;
          padding-top: 20px;
          padding-bottom: 20px;
        }

        &__buttom-inner-wrapper {
          display: flex;
        }
        
         
        &__item {
          font-family: $font-secondary;
          font-size: 14px;
          padding-top: 12px;

        }

        &__link {
          color: $color-primary;
        }

        &__input {
          color: $color-primary;
          width: calc(100% - 94px);
          background-color: rgba(255, 255, 255, 0.15);
          border: rgba(255, 255, 255, 0.15);
          padding-left: 30px;
          padding-right: 30px;
        }

        &__input::placeholder {
          color: $color-primary;
        }

        &__button {
          background-color: $color-primary;
          padding: 20px;
          color: $background-primary;
          font-family: $font-secondary;
          border: $background-primary;
        }

        &__button:hover {
          opacity: 1;
          background-color: rgba(255, 255, 255, 0.5);
          color: $color-primary;
        }

        &__text {
          font-family: $font-secondary;
          font-size: 14px;
        }

        &__icons-link {
          margin-left: 25px;
        }

}