extends ../layout.pug 

block styles 
  link(rel='stylesheet', href='catalog.css')

block content-catalog banner
  include ../modules/banner.pug
block content-catalog products-catalog
  include ../modules/products-catalog-filters.pug





