extends ../layout.pug

block content 
  include ../modules/product-details.pug
  include ../modules/products.pug 
  +products('You might also love these', 'See collection')
  include ../modules/advantages.pug
  +advantages(class=!advantages__item-grey)
