extends ../layout.pug

block content
  #product
  include ../modules/products.pug 
  +products('You might also love these', 'See collection')
  include ../modules/advantages.pug
  +advantages('advantages__item-grey', 'advantages__item-inner-wrapper', true)
  include ../modules/product-subscription.pug
